//Internal
@use "../../../index" as *;
@forward "range-grid";

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  .range-container {
    .rangeValue {
      font-size: 1.25rem;
    }

    &:focus,
    &:focus-visible {
      @include onFocus();
    }
  }

  .select {
    display: flex;
    flex-direction: column;

    label {
      text-align: center;
    }

    &:focus,
    &:focus-visible {
      @include onFocus();
    }
  }
}

.rating-select,
.text-input textarea {
  margin-top: 0.15rem;
  padding: $padding;
  background-color: $light-bg;
  font-size: inherit;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-family: inherit;
}

.rating-select {
  @include borderSides();

  option {
    text-align: center;
  }

  &:focus,
  &:focus-visible {
    @include onFocus();
  }
}

.text-input {
  display: flex;
  flex-direction: column;

  margin: 0.75rem auto 0;
  width: 100%;

  textarea {
    @include borderSides();

    max-width: 100%;

    &:focus,
    &:focus-visible {
      @include onFocus();
    }
  }

  label {
    text-align: center;
  }

  input {
    @include borderSides();

    font-family: inherit;
    padding: $padding;
    text-align: center;
    width: 220px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

.error,
.range-error {
  position: absolute;
  right: $form-padding;

  padding: 0.2rem;
  background-color: $advizot-color;
}
