//Internal
@use "../abstracts/index" as *;

//External
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.form {
	@include flex(column);
	font-family: $main-font;
	border-radius: $border-radius;
	width: min(380px, 96%);
	margin: 0 auto;
	padding: 15px 45px 0;
	background-color: white;
	box-shadow: inset -1px -1px 7px rgba(0, 0, 0, 0.8),
		inset 1px 1px 7px rgba(255, 255, 255, 0.9);

	.personal-info {
		@include flex(column);
		margin-top: 0.25rem;
		margin-bottom: 1rem;
		margin-left: auto;
		margin-right: auto;

		input {
			@include border;
			padding: $padding;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

			&:focus {
				@include onFocus();
			}
		}
	}

	.range-container {
		display: grid;
		grid-template-columns: 5fr 1fr;
		grid-template-rows: 1fr 0.15fr 1fr;
		align-items: start;
		padding-bottom: 1rem;

		label {
			margin-top: 0.25rem;
			grid-column: 1 / span 2;
		}

		input {
			grid-column-start: 1;
			grid-row-start: 3;
		}

		.rangeValue {
			grid-column-start: 2;
			grid-row: 2 / span 2;
			justify-self: center;
			align-self: center;

			font-size: 1.15rem;
		}

		&:focus {
			@include onFocus();
		}
	}

	.textarea {
		@include flex(column);
		margin-top: 0.75rem;
		margin-left: auto;
		margin-right: auto;

		textarea {
			@include border();
			padding: $padding;
			margin-top: 0.15rem;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		}
	}

	.priority {
		@include flex(column);
		margin-top: 0.75rem;

		&:focus {
			@include onFocus();
		}

		.rating-select {
			@include border();
			margin-top: 0.15rem;

			padding: $padding;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

			option {
				text-align: center;
				font-family: $main-font;
			}

			&:focus {
				@include onFocus();
			}
		}
	}

	.submit-confirmation {
		font-family: "Audiowide", cursive;
		text-align: center;
		margin-bottom: 1rem;
	}

	.error {
		width: fit-content;
		margin-top: 1px;
		padding: 0.25rem;
		background-color: $advizot-color;
		clip-path: polygon(
			0 13%,
			8% 13%,
			12% 0,
			16% 13%,
			100% 13%,
			100% 98%,
			0 98%
		);
	}
}
