//Internal
@use "../abstracts/index" as *;

//External
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	&::selection {
		background-color: $advizot-light;
	}
}

:root {
	font-size: 16px;
}

.App {
	position: relative;
	min-height: 100vh;

	.spacer {
		padding-bottom: $footer-height;
	}
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

//Does not handle layout or margins. Placement of buttons handled on case-by-case basis
.btn {
	@include borderRadius();
	border: none;
	display: block;
	padding: 1rem 2.5rem;
	background-color: $advizot-color;
	cursor: pointer;
	font-weight: bold;
	font-family: "Audiowide", cursive;
	font-size: 1.1rem;
	letter-spacing: 0.5px;

	&:hover {
		@include btnHover();
	}

	&:focus {
		@include onFocus();
	}
}

.welcome {
	font-family: "Audiowide", cursive;
	font-size: 2rem;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	margin: 1rem auto 0;
	padding: 0 3vw;
}

a {
	text-decoration: none;

	&:visited {
		color: black;
	}
}

.error {
	width: fit-content;
	margin-top: 1px;
	padding: 0.5rem;
	background-color: $advizot-color;
	clip-path: polygon(0 13%, 9% 13%, 12% 0, 15% 13%, 100% 13%, 100% 93%, 0 93%);
}
.range-error {
	width: fit-content;
	margin-top: 0.55rem;
	padding: 0.2rem 0.4rem;
	background-color: $advizot-color;

	grid-row-start: 4;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $footer-height;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: $advizot-color;
	margin-top: 1.5rem;
	padding: 1.5rem 1.75rem;
	box-shadow: inset -2px -2px 7px rgba(0, 0, 0, 0.8),
		0 0 10px rgba(0, 0, 0, 0.3);

	.copyright {
		align-self: flex-end;
		font-family: $main-font;
		font-weight: bold;
	}

	.full-logo {
		height: 1.95rem;

		&:hover {
			transform: scale(1.15);
			transition-property: transform;
			transition-duration: 200ms;
		}
	}
}
