@use "../abstracts/index" as *;

.header {
	z-index: $middle;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	background-color: whitesmoke;
	box-shadow: $header-shadow;

	.nav-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo {
			//might bring back clamp later. Keep commented for now
			// width: clamp(145px, 35%, 175px);
			width: 175px;
			align-self: flex-start;
		}

		.btn {
			padding: 1rem;
			margin: 1rem 1.5rem;
		}
	}
}
