@use "../abstracts/index" as *;

.modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);

	display: flex;
	align-items: center;
	justify-content: center;

	.modal-content {
		@include borderRadius();
		background-color: #fff;
		width: min(340px, 90%);

		.modal-header {
			@include flex(row);
			@include borderRadius();
			background-color: $advizot-color;
			box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);

			span {
				font-family: "Audiowide", cursive;
				margin: 0.75rem 0.9rem;
				font-size: 1.25rem;
			}

			.close-x {
				margin-left: auto;
				padding: 0 1rem;
				background-color: transparent;
				border-color: transparent;
				font-size: 2.25rem;
				cursor: pointer;

				&:focus {
					@include onFocus();
				}
			}
		}

		.modal-body {
			margin: 0 1.5rem;

			.linkedin-btn {
				@include loginButton();

				.linkedin-logo {
					@include logoSize();
				}
				span {
					text-align: center;
					width: 100%;
				}

				&:hover {
					@include loginHover(#0a66c2, 28.75px);
				}
			}

			.google-btn {
				@include loginButton();
				margin-bottom: 1.5rem;

				.google-logo {
					@include logoSize();
				}
				span {
					text-align: center;
					width: 100%;
				}

				&:hover {
					@include loginHover(#34a853, 30px);
				}
			}
		}
	}
}
