@use "../abstracts/index" as *;

.modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);

	display: flex;
	align-items: center;
	justify-content: center;

	.modal-content {
		background-color: #fff;
		width: min(320px, 75%);

		.modal-header {
			@include flex(row);
			background-color: $advizot-color;
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);

			span {
				font-family: "Audiowide", cursive;
				margin: 0.75rem 0.9rem;
				font-size: 1.2rem;
			}

			.close-x {
				margin-left: auto;
				margin-right: 6px;
				padding: 0 $padding;
				background-color: transparent;
				border-color: transparent;
				font-size: 2rem;
				cursor: pointer;

				&:focus {
					@include onFocus();
				}
			}
		}

		.modal-body {
			margin: 1.5rem;

			.linkedin-btn {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: space-evenly;

				font-family: $main-font;
				font-size: 1.1rem;
				color: black;
				font-weight: 600;
				padding: 1rem 0.75rem;
				width: 100%;
				background-color: $advizot-color;
				border: none;

				.linkedin-logo {
					width: 30px;
					margin: 0 7px;
				}
				span {
					text-align: center;

					&:active {
						text-shadow: 0 0 7px #0a66c2;
						transition-property: all;
						transition-duration: 150ms;
					}
				}

				&:hover {
					background-color: white;
					outline: 2px solid #0a66c2;
					// box-shadow: inset 0 0 7px #0a66c2;
					border-radius: 28.75px;
					color: #0a66c2;
					transition-property: all;
					transition-duration: 150ms;
				}
			}
		}
	}
}
