@use "../abstracts/index" as *;

.responses-ul {
	font-family: $main-font;
	position: relative;

	.response-li {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;

		text-align: center;
		margin: 8vh 1vw;

		.response-name {
			@include border();
			border: none;
			font-size: 1.1rem;
			background-color: $advizot-light;
			padding: 8px 12px;
			height: fit-content;
		}

		.response-p {
			padding: 0 2vw 7px;

			strong {
				text-decoration: underline;
			}
		}
	}
}
