//Internal
@use "../../scss/index" as *;

.util-list {
	position: fixed;
	list-style: none;

	.util-item {
		margin-bottom: 10px;

		.util-btn {
			@include borderSides();
			border-left: none;
			border-color: $advizot-color;
			z-index: $top;
			position: relative;
			top: -30px;
			left: -40px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0 20px;
			text-align: center;
			width: 70px;
			height: 65px;
			background-color: whitesmoke;
			border-radius: 0 $border-radius $border-radius 0;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
			@include transition(left);

			.util-icon {
				position: absolute;
				left: -10px;
				max-width: 55%;
			}

			&:hover {
				left: 0;

				.util-icon {
					left: 15px;
					@include transition(left);
				}
			}
		}
	}
}
