//Internal
@use "../../scss/index" as *;

.util-list {
	z-index: $top;
	position: fixed;
	list-style: none;

	.util-item {
		margin-bottom: 10px;

		.util-btn {
			//Resets
			@include borderSides();
			border-left: none;
			border-color: $advizot-color;
			border-radius: 0 $border-radius $border-radius 0;
			//Position
			position: relative;
			top: 1rem;
			left: -40px;
			//Display
			display: flex;
			justify-content: center;
			align-items: center;
			//Misc
			padding: 0 20px;
			width: 70px;
			height: 65px;
			text-align: center;
			background-color: whitesmoke;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
			@include transition(left);

			.util-icon {
				position: absolute;
				left: -10px;
				max-width: 55%;
				@include transition(left);
			}

			.util-text {
				position: absolute;
				left: 0;
				opacity: 0;
				@include transition(opacity left);
			}

			&:hover {
				left: 0;

				.util-icon {
					left: 15px;
				}

				.util-text {
					opacity: 1;
					color: whitesmoke;
					text-shadow: 0 0 10px black;
					left: 120%;
				}
			}
		}
	}
}
