//Internal
@use "../../../index" as *;
@forward "range-grid";

.range-container {
  font-family: $main-font;
  padding: 0 0 1rem;
  position: relative;

  label {
    margin-top: 0.25rem;
  }

  .rangeValue {
    font-size: 1.25rem;
  }

  .range-error {
    grid-row-start: 4;
    z-index: $top;
    position: absolute;
    left: 9%;
    clip-path: polygon(
      0 13%,
      9% 13%,
      12% 0,
      15% 13%,
      100% 13%,
      100% 93%,
      0 93%
    );
  }

  &:focus {
    @include onFocus();
  }
}


.text-input {
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  margin-top: 1rem;

  textarea {
    @include borderSides();
    font-size: 1rem;
    padding: $padding;
    margin-top: 0.15rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    &:focus {
      @include onFocus();
    }
  }

  label {
    text-align: center;
  }

  input {
    @include borderSides();
    font-family: $main-font;
    font-size: 1rem;
    width: 50%;
    padding: $padding;
    text-align: center;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

.select {
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
  font-family: $main-font;

  label {
    text-align: center;
  }

  &:focus {
    @include onFocus();
  }
}
