@use "../../../index" as *;

input[type="range"] {
  @include borderRadius();

  -webkit-appearance: none;

  margin-top: 12px;
  height: 8px;
  background-color: $light-bg;
  box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.7);

  &:focus,
  &:focus-visible {
    @include onFocus();
    outline: none;
  }
}

//* ===== THUMB =====
//===== Webkit =====
input[type="range"]::-webkit-slider-thumb {
  @include specialBoxShadow();

  -webkit-appearance: none;

  width: 28px;
  height: 30px;
  border-radius: $border-radius 0 $border-radius 0;
  background: $advizot-color;
  cursor: grab;
  transform: skew(-9deg);
}
input[type="range"]::-webkit-slider-thumb:hover {
  @include btnHover();

  transform: scale(1.15) skew(-19deg);
}
input[type="range"]::-webkit-slider-thumb:active {
  cursor: grabbing;
}
//===== Mozilla =====
input[type="range"]::-moz-range-thumb {
  @include specialBoxShadow();

  border: none;
  width: 28px;
  height: 30px;
  border-radius: 10px 0 10px 0;
  background: $advizot-color;
  cursor: grab;

  transform: skew(-9deg);
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
input[type="range"]::-moz-range-thumb:hover {
  @include btnHover();

  transform: scale(1.15) skew(-19deg);
}
input[type="range"]::-moz-range-thumb:active {
  cursor: grabbing;
}
