@use "../../index" as *;

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;

  .code-toggle {
    padding: 0.75rem;
    margin-left: 1.5rem;

    border-radius: 100vw;
    background-color: $advizot-color;
    cursor: pointer;

    &:hover {
      @include btnHover();

      &:after {
        @include advizotFont(1.25rem, bold, 0px);

        content: "Room Code";
        vertical-align: middle;
        margin-left: 0.5rem;
      }
    }

    .eye-icon {
      $size: 29px;

      width: $size;
      height: $size;
      vertical-align: middle;
    }
  }
}

.room-code-display {
  @include borderRadius();

  display: block;
  width: fit-content;
  margin: 0rem auto 1.5rem;
  padding: 1rem;
  letter-spacing: 2px;

  font-size: 1.5rem;
  background-color: $advizot-color;
  box-shadow: $box-shadow;
}

.admin-sign-ins {
  $border: 1px solid black;

  margin: 0rem auto 2rem;
  width: 90vw;
  box-shadow: $box-shadow;
  border-radius: $border-radius 0px 0px 0px;

  .admin-head,
  .admin-sign-in-row {
    display: grid;
    grid-template-columns: 1.33fr 0.68fr repeat(2, 0.58fr) 0.8fr 1.5fr 1.5fr;
    min-height: 68px;

    border: $border;
  }

  .admin-head .admin-heading,
  .admin-sign-in-row .admin-info-cell {
    border-right: $border;
    padding: 0.875ch;
  }
  .admin-heading:last-child,
  .admin-info-cell:last-child {
    border-right: none;
  }

  .admin-head {
    text-align: center;

    list-style: none;
    background-color: $advizot-color;

    &:first-child {
      border-radius: 12px 0px 0px 0px;
    }

    .admin-heading {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .admin-sign-in-row {
    border-top: none;

    p {
      &:nth-child(6),
      &:nth-child(7) {
        text-align: left;
      }
    }

    .admin-info-cell {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 0.5rem;

      font-size: 1.2rem;
      cursor: pointer;

      .admin-row-name {
        align-self: center;
        text-align: center;
      }

      .delete-btn {
        $size: 40px;

        width: $size;
        height: $size;

        .delete-icon {
          width: 18px;
        }
      }

      &:nth-child(6),
      &:nth-child(7) {
        display: inline;
        text-align: left;
      }
    }

    &:last-child {
      border-bottom: $border;
      border-radius: 0px 0px 12px 0px;
    }
  }
}
