@use "../../index" as *;

.room-code-display {
  @include borderRadius();

  display: block;
  width: fit-content;
  margin: 1rem auto;
  padding: 1rem;
  letter-spacing: 2px;

  background-color: $advizot-color;
}

.code-toggle {
  display: block;
  margin-left: auto;
  margin-right: 28%;
  margin-top: -70px;
  padding: 0.5rem;

  border-radius: 100vw;
  background-color: $advizot-light;
  cursor: pointer;

  &:hover {
    @include btnHover();
  }

  .eye-icon {
    width: 29px;
    height: 29px;
    vertical-align: middle;
  }
}

.admin-responses {
  $border: 1px solid black;

  margin: $form-padding auto;
  width: 90vw;

  .admin-head,
  .admin-response-row {
    display: grid;
    grid-template-columns: 1.35fr repeat(3, 0.58fr) 0.8fr 1.5fr 1.5fr;

    border: $border;
  }

  .admin-head .admin-heading,
  .admin-response-row .admin-info-cell {
    border-right: $border;
    padding: 0.875ch;
  }
  .admin-heading:last-child,
  .admin-info-cell:last-child {
    border-right: none;
  }

  .admin-head {
    text-align: center;

    list-style: none;
    background-color: $advizot-color;

    &:first-child {
      border-radius: 12px 0 0 0;
    }
  }

  .admin-response-row {
    border-top: none;

    p {
      &:nth-child(6),
      &:nth-child(7) {
        text-align: left;
      }
    }

    .admin-info-cell {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 0.5rem;

      font-size: 1.2rem;
      cursor: pointer;

      .admin-row-name {
        align-self: center;
        text-align: center;
      }

      .delete-btn {
        $size: 40px;

        width: $size;
        height: $size;

        .delete-icon {
          width: 18px;
        }
      }

      &:nth-child(6),
      &:nth-child(7) {
        display: inline;
        text-align: left;
      }
    }

    &:last-child {
      border-bottom: $border;
      border-radius: 0 0 12px 0;
    }
  }
}
