@use "../../index" as *;

.admin-sign-ins {
  $border: 1px solid black;

  box-shadow: $box-shadow;
  border-radius: $border-radius 0px 0px 0px;

  .admin-head,
  .admin-sign-in-row {
    display: grid;
    grid-template-columns: 1.7fr repeat(4, 1fr) repeat(2, 1.1fr);

    border: $border;
  }

  .admin-heading,
  .admin-info-cell,
  .admin-row-name {
    border-right: $border;
    padding: 0.5ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .admin-heading:last-child,
  .admin-info-cell:last-child {
    border-right: none;
  }

  .admin-head {
    text-align: center;

    list-style: none;
    background-color: $advizot-color;

    &:first-child {
      border-radius: 12px 0px 0px 0px;
    }

    .admin-heading {
      display: grid;
      place-items: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .admin-sign-in-row {
    border-top: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    p {
      &:nth-child(6),
      &:nth-child(7) {
        text-align: left;
      }
    }

    .admin-info-cell {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      cursor: pointer;

      svg {
        width: 18px;
      }

      .delete-btn {
        $size: 40px;

        position: absolute;
        top: calc(50% - $size / 2);
        left: 5px;
        width: $size;
        height: $size;

        .delete-icon {
          width: 18px;
        }
      }
    }
  }
}

.admin-sign-ins::-webkit-scrollbar {
  display: none;
}
