@use "../../index" as *;

.delete-btn {
  $size: 2.5rem;

  @include borderRadius();
  @include transition(box-shadow transform);

  width: $size;
  height: $size;

  background-color: $advizot-color;
  cursor: pointer;

  &:hover {
    @include btnHover();
  }

  .delete-icon {
    width: calc($size / 2);
  }
}
