@use "../../index" as *;

.delete-btn {
  @include borderRadius();

  width: 2.5rem;
  height: 2.5rem;

  background-color: $advizot-light;
  cursor: pointer;

  &:hover {
    @include btnHover();
  }

  .delete-icon {
    width: 1.25rem;
  }
}
