@use "../../index" as *;

$size: 20px;

.admin-info-cell,
.response-p {
  position: relative;

  .edit-pen {
    position: absolute;
    top: calc(50% - ($size / 2));
    right: 5%;

    max-width: $size;
  }
}

.response-p .edit-pen {
  top: 55%;
}
