@use "../../index" as *;

$size: 20px;

.admin-info-cell,
.sign-in {
  position: relative;

  &:hover {
    .edit-pen {
      display: block;
    }
  }

  .edit-pen {
    position: absolute;
    top: calc(50% - ($size / 2));
    right: 5%;
    display: none;
    max-width: $size;
  }
}

.sign-in .edit-pen {
  top: 55%;
}
