//Internal
@use "../../index" as *;

.actions-btn {
  position: fixed;
  bottom: 1.75rem;
  right: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;

  border-radius: 30px 0 30px 0;
  background-color: $advizot-color;
  box-shadow: $header-shadow;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.75rem;
  font-weight: inherit;

  .add-icon {
    width: 40px;
    margin-left: 1rem;
  }

  .sliders-icon {
    width: 35px;
    vertical-align: middle;
    transform: rotate(90deg);
  }

  &:hover {
    @include btnHover();
  }
}

.admin-actions-list {
  @include borderRadius();
  @include borderSides();

  position: fixed;
  bottom: 120px;
  right: 1.75rem;
  padding: 1rem;

  list-style: none;
  background-color: $light-bg;

  .admin-actions-item {
    width: 230px;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    .admin-actions-btn {
      @include advizotFont(1.25rem, bold, 0.5px);
      @include borderRadius();

      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0.5rem 0.75rem;

      background-color: $advizot-color;
      cursor: pointer;

      &:hover {
        @include btnHover();
      }

      .admin-actions-label {
        cursor: pointer;
      }

      .admin-actions-icon {
        width: 30px;
      }
    }
  }
}
