//Internal
@use "../../index" as *;

.actions-btn {
  position: fixed;
  bottom: 1.75rem;
  right: 1.75rem;
  width: 60px;
  height: 60px;

  border-radius: 45% 0 45% 0;
  background-color: $advizot-color;
  box-shadow: $header-shadow;
  cursor: pointer;

  .add-icon {
    width: 30px;
  }

  .dots-icon {
    width: 9px;
    vertical-align: middle;
  }

  &:hover {
    @include btnHover();
  }
}

.admin-actions-list {
  @include borderRadius();
  @include borderSides();

  position: fixed;
  bottom: 100px;
  right: 1.75rem;
  padding: 1rem;

  list-style: none;
  background-color: $light-bg;

  .admin-actions-item {
    width: 230px;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    .admin-actions-btn {
      @include advizotFont(1.25rem, bold, 0.5px);
      @include borderRadius();

      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0.5rem 0.75rem;

      background-color: $advizot-color;
      cursor: pointer;

      &:hover {
        @include btnHover();
      }

      .admin-actions-label {
        cursor: pointer;
      }

      .admin-actions-icon {
        width: 30px;
      }
    }
  }
}
