@use "../../index" as *;
@forward "responses-grid";
@forward "wide-screens";

.responses-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
  margin: 0 auto 25vh;

  .response-li {
    @include borderSides();
    @include borderRadius();

    padding: 1rem;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);

    &:hover {
      @include btnHover();
    }

    .response {
      margin-top: 0.5rem;
      margin-bottom: 1.25rem;
      line-height: 0.65rem;

      cursor: pointer;
    }

    .response-name {
      @include borderRadius();

      width: min-content;
      padding: 7px 1ch;

      background-color: $advizot-light;

      &:hover {
        @include btnHover();
      }
    }

    .priority,
    .range-response {
      text-align: center;
    }

    .issue,
    .goal {
      line-height: 1.2rem;
      overflow-wrap: break-word;
    }

    h4 {
      text-align: center;

      text-decoration: underline;
    }
  }
}
