@use "../../index" as *;
@forward "sign-ins-grid";
@forward "wide-screens";

.sign-ins-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;

  .sign-in-li {
    @include borderSides();
    @include borderRadius();
    @include transition(box-shadow transform);

    padding: 1rem;

    box-shadow: $box-shadow;

    &:hover {
      @include btnHover();
    }

    .sign-in {
      margin-top: 0.5rem;
      margin-bottom: 1.25rem;
      line-height: 0.65rem;

      cursor: pointer;
    }

    .sign-in-name {
      @include borderRadius();

      width: min-content;
      padding: 7px 1ch;

      background-color: $advizot-color;
    }

    .priority,
    .range-sign-in {
      text-align: center;
    }

    .issue,
    .goal {
      line-height: 1.2rem;
      overflow-wrap: break-word;
    }

    h4 {
      text-align: center;

      text-decoration: underline;
    }
  }
}
