@use "../../index" as *;

.meeting-table {
  $border: 1px solid black;
  $orange-border: 1px solid $advizot-color;

  margin: 0 auto;
  width: 100%;

  box-shadow: $box-shadow;
  border-collapse: collapse;

  .table-heading,
  .tbody-th {
    border-right: $border;
    border-bottom: $border;
    padding: 0.75ch;
  }

  .table-heading:last-child,
  .tbody-th:last-child {
    border-right: none;
  }

  .thead {
    text-align: center;

    list-style: none;
    background-color: $advizot-color;
    border: 1px solid $advizot-color;

    .table-heading {
      color: $text-primary;
    }
  }

  .tbody-row {
    .tbody-th {
      font-size: 1.2rem;
      cursor: pointer;
      padding: 0;
      border: $orange-border;

      .tbody-row-name {
        padding: 1ch;
        width: min-content;
      }

      .delete-btn {
        $size: 40px;

        position: absolute;
        top: calc(50% - $size / 2);
        left: 5px;
        width: $size;
        height: $size;

        .delete-icon {
          width: 18px;
        }
      }

      svg {
        width: 18px;
      }

      &:nth-child(6),
      &:nth-child(7) {
        text-align: left;
      }

      .inner-table-row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));

        padding: 0;

        p {
          border-top: $orange-border;
          border-left: $orange-border;
          padding: 1ch;
          text-align: center;
        }
        p:first-child {
          border-left: none;
        }
        p:last-child {
          border-right: $orange-border;
        }
      }

      .lower-row {
        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 1ch;
        border-top: $orange-border;

        h4 {
          align-self: center;
        }
      }
    }
  }
}
