@use "../../index" as *;

.meeting-table {
  $thin-border: 1px solid $advizot-color;
  $thick-border: 3px solid $advizot-color;

  margin: 0 auto;
  width: 100%;
  max-width: 1200px;

  box-shadow: $box-shadow;
  border-collapse: collapse;

  .table-heading {
    padding: 0.75ch;
  }

  .tbody-th:last-child {
    border-right: none;
  }

  .thead {
    background-color: $advizot-color;
  }

  .meeting-table-row {
    border: $thin-border;
    border-bottom: $thick-border;

    .meeting-table-column1 {
      width: 27%;
      min-width: min-content;

      border: $thin-border;

      .user-name {
        width: min-content;
        margin: 0 auto;

        padding: 1ch;
        font-size: 1.2rem;
      }

      .priority {
        font-size: 1rem;
      }

      .icon-container {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        margin-top: 1rem;

        svg {
          width: 20px;
          cursor: pointer;
        }
      }
    }

    .meeting-table-column2 {
      font-size: 1.2rem;

      .inner-table-row1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));

        padding: 0;

        p {
          padding: 1ch;
          text-align: center;
        }
      }

      .issue-goal {
        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 1ch;
        border-top: $thin-border;

        h4 {
          align-self: center;
        }
      }
    }
  }
}
