@use "../../index" as *;

.range-container {
  display: grid;
  grid-template-columns: 5fr 0.75fr;
  grid-template-rows: 1fr 0.15fr 1fr;

  label {
    grid-column: 1 / span 2;
  }

  input {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .rangeValue {
    grid-column-start: 2;
    grid-row: 2 / span 2;
    justify-self: end;
    align-self: end;
  }
}
