@use "../../index" as *;

.room-code-display {
  @include borderRadius();

  display: block;

  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
  background-color: $advizot-color;
  letter-spacing: 2px;
}

.admin-responses,
.admin-response-head tr th,
.admin-response-row,
.admin-table-cell {
  border: 1px solid black;
}

.admin-responses {
  border-collapse: collapse;
  margin: $form-padding auto;
  width: 90vw;

  .admin-response-head th,
  .admin-response-row td,
  .admin-row-th {
    padding: calc($form-padding / 2);
  }

  .admin-response-row {
    td {
      text-align: center;
      max-width: 300px;

      &:nth-child(6),
      &:nth-child(7) {
        text-align: left;
      }
    }

    .admin-row-th {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 0.5rem;

      cursor: pointer;

      .admin-row-name {
        align-self: center;
        margin: auto 0;
      }

      .delete-btn {
        $size: 40px;

        width: $size;
        height: $size;

        .delete-icon {
          width: 18px;
        }
      }
    }

    &:hover {
      .admin-row-th {
        .admin-row-name {
          text-align: right;
        }
      }
    }
  }
}
