@use "../../index" as *;

.admin-responses,
.admin-response-head th,
.admin-response-row th,
.admin-response-row td {
  border: 1px solid black;
}

.admin-responses {
  border-collapse: collapse;
  font-family: $main-font;
  margin: $form-padding auto;
  width: 90%;

  .admin-response-head th,
  .admin-response-row th,
  .admin-response-row td {
    padding: calc($form-padding / 2);
  }

  .admin-response-row {
    th,
    td {
      text-align: center;

      &:hover {
        background-color: $advizot-color;
      }
    }

    th {
      cursor: pointer;
    }

    td {
      &:nth-child(6),
      &:nth-child(7) {
        text-align: left;
      }
    }
  }
}
