@use "../../index" as *;

.room-code-display {
  @include borderRadius();

  display: block;

  width: fit-content;
  margin: 0 auto;
  padding: 1rem;
  background-color: $advizot-color;
  letter-spacing: 2px;
}

.admin-responses {
  margin: $form-padding auto;
  width: 90vw;

  .admin-head,
  .admin-response-row {
    display: grid;
    grid-template-columns: 1fr repeat(4, 0.5fr) 1.5fr 1.5fr;

    border: 1px solid black;
    border-bottom: none;
  }

  .admin-head .admin-heading,
  .admin-response-row .admin-info-cell {
    border-right: 1px solid black;
    padding: 0.875ch;
  }
  .admin-heading:last-child,
  .admin-info-cell:last-child {
    border-right: none;
  }

  .admin-head {
    list-style: none;
    text-align: center;
    background-color: $advizot-color;

    &:first-child {
      border-radius: 12px 0 0 0;
    }
  }

  .admin-response-row {
    td {
      text-align: center;

      &:nth-child(6),
      &:nth-child(7) {
        text-align: left;
      }
    }

    .admin-info-cell {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 0.5rem;

      cursor: pointer;

      .admin-row-name {
        align-self: center;
      }

      .delete-btn {
        $size: 40px;

        width: $size;
        height: $size;

        .delete-icon {
          width: 18px;
        }
      }
    }

    &:hover {
      .admin-row-th {
        .admin-row-name {
          text-align: right;
        }
      }
    }

    &:last-child {
      border-bottom: 1px solid black;
      border-radius: 0 0 12px 0;
    }
  }
}
