@use "../index" as *;

.toast-list {
  @include borderRadius();
  z-index: $header-z;
  position: fixed;
  top: 0px;
  right: 0px;
  margin-top: calc($header-height);
  padding: 1rem;

  background-color: transparent;
}

.toast {
  @include borderRadius();

  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin-bottom: 0.75rem;
  padding-block: 0.5rem;
  padding-left: 1rem;
  padding-right: 0rem;

  background-color: $advizot-color;
  box-shadow: $box-shadow;

  animation-name: in-from-right;
  animation-duration: 4000ms; //Linked to total display time. If changed, be sure to change the timeout duration in useToasts.js to match
  animation-iteration-count: 1;

  .toast-message {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      height: 20px;
    }
  }
}

@keyframes in-from-right {
  0% {
    transform: translateX(120%);
  }
  10% {
    transform: translateX(0%);
  }

  95% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(120%);
  }
}
