@use "../index" as *;

$size: 70px;
$border-width: 7px;
$radius-forward: 50% 0% 50% 0%;
$radius-reverse: 0% 50% 0% 50%;

//parent .modal styles in ../modals/_modals.scss
.loading-spinner {
  margin: auto;
  width: $size;
  height: $size;

  border: $border-width solid $advizot-color;
  filter: drop-shadow($box-shadow);

  animation: loading 2.5s ease-in-out infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
    border-radius: $radius-forward;
  }
  25% {
    border-width: calc($size / 4);
    border-radius: $radius-reverse;
  }
  50% {
    transform: rotate(90deg);
    border-width: $border-width;
    border-radius: $radius-forward;
  }
  75% {
    border-width: calc($size / 4);
    border-radius: $radius-reverse;
  }
  100% {
    transform: rotate(180deg);
    border-radius: $radius-forward;
  }
}
