@use "./index" as *;

$dark-bg: hsl(0, 0%, 18%);
$darker-bg: hsl(0, 0%, 9%);
$text-dark: black;

.App.dark {
  background-color: $dark-bg;
  color: $advizot-grey;
}

//==Buttons
.btn.dark,
.header.dark .btn,
.actions-btn.dark,
.form.dark .btn {
  border: none;
  box-shadow: none;
}

//==Header
.header.dark {
  background-color: hsl(0, 0%, 12%);
  color: $advizot-grey;
  box-shadow: none;
}

//==Admin View
.room-code-display.dark {
  color: $text-dark;
  box-shadow: none;
}

.admin-sign-ins.dark {
  box-shadow: none;
  background-color: hsl(0, 0%, 12%);
  color: $advizot-grey;

  .admin-head {
    color: $text-dark;
  }
  .admin-sign-in-row,
  .admin-sign-in-row .admin-info-cell {
    border-color: $advizot-grey;
  }
  .admin-sign-in-row {
    border-top: 1px solid $advizot-grey;
  }
}

.admin-actions-list.dark {
  background-color: $darker-bg;
  border: none;
  box-shadow: none;

  .admin-actions-item .admin-actions-btn.dark {
    border: none;
  }
}

//==Member view
.sign-in-li.dark {
  background-color: $darker-bg;
  border: none;
  box-shadow: none;

  .sign-in-name {
    color: $text-dark;
  }
}

//==Modals
.modal.dark {
  .modal-content {
    background-color: $darker-bg;
    box-shadow: 0px 0px 10px $advizot-color;

    .modal-header {
      color: $text-dark;
    }
  }
}

//==Forms
.form.dark {
  .text-input textarea,
  .rating-select {
    background-color: $dark-bg;
    color: $advizot-grey;
    border: none;
  }
  .text-input input {
    background-color: $darker-bg;
    color: $advizot-grey;
  }
}

.range-container.dark input[type="range"] {
  background-color: $dark-bg;
}
