@use "./index" as *;

$dark-bg: hsl(0, 0%, 16%);
$darker-bg: hsl(0, 0%, 9%);
$text-dark: black;

.dark {
  background-color: $dark-bg;
  color: $advizot-grey;
  border: none;

  .btn {
    border: none;
  }

  .toast {
    color: $text-dark;
  }

  .modal-content {
    .modal-header {
      color: $text-dark;
    }
    .modal-body {
      background-color: $dark-bg;

      .google-hover:hover,
      .linkedin-hover:hover {
        background-color: $dark-bg;
      }

      .form {
        .range-container input[type="range"] {
          background-color: $darker-bg;
        }
        .text-input textarea,
        .select .rating-select {
          background-color: $darker-bg;
          color: $advizot-grey;
          border: none;
        }
      }
    }
  }

  .edit-pen {
    fill: $advizot-grey;
  }

  .header,
  .admin-actions-list {
    background-color: $darker-bg;
    box-shadow: none;
    border: none;
  }

  .header {
    .profile-photo {
      label {
        color: $advizot-grey;
      }
    }

    .nav {
      background-color: $darker-bg;
      border: none;
      box-shadow: none;

      .nav-list .nav-item .icon path {
        fill: $advizot-grey;
      }

      a {
        color: $advizot-grey;
      }
    }
  }

  .room-code-display {
    color: $text-dark;
    border: none;
  }

  .admin-sign-ins {
    background-color: $darker-bg;
    box-shadow: none;

    .admin-head .admin-heading {
      color: $text-dark;
    }
    .admin-sign-in-row,
    .admin-info-cell {
      border: 1px solid $advizot-grey;
      border-top: none;
    }
    .admin-sign-in-row {
      border-left: none;
    }
    .admin-info-cell {
      border-bottom: none;
    }
  }

  .actions-btn {
    border: none;
  }

  .admin-actions-list .admin-actions-item .admin-actions-btn {
    border: none;
  }

  .sign-ins-section .sign-ins-ul {
    .sign-in-li {
      background-color: $darker-bg;
      box-shadow: none;
      border: none;

      .sign-in-name {
        color: $text-dark;
      }
    }
  }
}
