@use "./index" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::selection {
    background-color: $advizot-light;
  }
}

:root {
  font-size: 16px;
}

.App {
  position: relative;
  min-height: 100vh;

  .main-content {
    padding-top: $footer-height;
    padding-bottom: $footer-height;
  }
  .main-small-padding {
    padding-top: 0;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rating-select {
  @include borderSides();
  font-family: $main-font;
  margin-top: 0.15rem;
  padding: $padding;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  option {
    text-align: center;
    font-family: inherit;
  }

  &:focus {
    @include onFocus();
  }
}

.text-input {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  margin-top: 0.75rem;
  padding: 0 $form-padding;

  textarea {
    @include borderSides();
    padding: $padding;
    margin-top: 0.15rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    &:focus {
      @include onFocus();
    }
  }

  label {
    text-align: center;
  }

  input {
    @include borderSides();
    width: 50%;
    padding: $padding;
    text-align: center;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

.btn {
  @include borderRadius();
  @include advizotFont(1.1rem, bold, 0.5px);
  border: none;
  display: block;
  //Padding will sometimes be overridden in specific instances
  padding: 1.5ch 2ch;
  background-color: $advizot-color;
  cursor: pointer;

  &:hover {
    @include btnHover();
  }

  &:focus {
    @include onFocus();
  }
}

.welcome {
  @include advizotFont(2rem, 400, 1px);
  text-align: center;
  margin: 0 auto 1ch;
  padding-top: 1rem;
}

a {
  text-decoration: none;

  &:visited {
    color: black;
  }
}

.error {
  position: absolute;
  width: fit-content;
  margin-top: 1px;
  padding: 0.5rem;
  background-color: $advizot-color;
  clip-path: polygon(3% 15%, 97% 15%, 97% 85%, 3% 85%);
}
.range-error {
  width: fit-content;
  margin-top: 0.55rem;
  padding: 0.2rem 0.4rem;
  background-color: $advizot-color;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: $footer-height;
  background-color: $advizot-color;
  padding: 1.5rem 1.75rem;

  .copyright {
    align-self: flex-end;
    font-family: $main-font;
    font-weight: bold;
  }

  .footer-logo {
    height: 1.95rem;
    @include transition(transform);

    &:hover {
      transform: scale(1.15);
    }
  }
}
