@use "./index" as *;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

  &::selection {
    background-color: $advizot-light;
    color: black;
  }
  &:focus,
  &:focus-visible {
    @include onFocus();
  }
}

.App {
  position: relative;
  min-height: 100vh;

  .main-content {
    padding-top: $header-height;
  }
}

body {
  min-width: 320px;

  font-family: $main-font;
  font-weight: 600;
  font-size: 1.1rem;
  background-color: $light-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.welcome {
  @include advizotFont(2rem, 400, 1px);

  text-align: center;
  margin-top: 25vh;
}

.centered-heading {
  text-align: center;
  padding-block: 1.75rem;
}

.meeting-heading {
  @include advizotFont(2rem, 400, 0.5px);

  text-align: center;
  margin-block: 1.75rem;

  text-decoration: underline;
}

button {
  border: none;
}
.btn {
  @include advizotFont(1.1rem, bold, 0.5px);
  @include borderRadius();
  @include transition(box-shadow transform);
  @include borderSides();

  display: block;
  padding: 1ch 3ch; //Will sometimes be overridden in specific instances
  margin: 1rem auto;

  background-color: $advizot-color;
  cursor: pointer;

  &:hover {
    @include btnHover();
  }
}

.close-x {
  padding: 0rem 1rem;

  font-size: 2.25rem;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    @include transition(transform);

    transform: rotate(90deg);
    transition-duration: 100ms;
  }
}

a {
  text-decoration: none;
  color: $text-primary;

  &:visited {
    color: $text-primary;
  }
}

.error-text {
  margin-inline: auto;
  margin-bottom: 2rem;
  width: fit-content;

  font-size: 1.5rem;
  font-weight: 400;
}

//Scrollbar
::-webkit-scrollbar {
  width: 0.7em;
}
::-webkit-scrollbar-track {
  @include borderRadius();

  background-color: $advizot-light;
  margin-block: 0.25em;
}
::-webkit-scrollbar-thumb {
  @include borderRadius();
  @include specialBoxShadow();

  background-color: $advizot-color;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: $advizot-color $advizot-light;
    scrollbar-width: auto;
  }
}
