//Internal
@use "../../scss/index" as *;
@forward "range-grid";

.form {
	@include borderRadius();
	font-family: $main-font;
	width: min(380px, 94%);
	margin: 20px auto;
	padding-bottom: 1px;
	box-shadow: $form-shadow;

	.form-header {
		@include borderRadius();
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		background-color: $advizot-color;
		box-shadow: $header-shadow;
		margin-bottom: 10px;

		&:hover .chevron {
			transform: translateY(-4px);
			transition-property: transform;
			transition-duration: 200ms;
		}
		&:hover .chevron-flipped {
			transform: translateY(4px) rotate(180deg);
			transition-property: transform;
			transition-duration: 200ms;
		}

		span {
			@include advizotFont(1.25rem, 400, 0);
			margin-left: calc($form-padding/2);
		}

		.minimize-btn {
			background-color: transparent;
			border: none;
			display: block;
			margin-left: auto;
			padding: 5px calc($form-padding/2);
			cursor: pointer;
		}
	}

	.chevron {
		width: 25px;
	}

	.range-container {
		padding: 0 $form-padding 1rem;

		label {
			margin-top: 0.25rem;
		}

		.rangeValue {
			font-size: 1.3rem;
		}

		.range-error {
			grid-row-start: 4;
		}

		&:focus {
			@include onFocus();
		}
	}

	.btn {
		margin: 2rem auto;
		width: calc(100% - ($form-padding * 2));
	}
}

.minimized-form {
	border-radius: 24.5px;
	width: min(380px, 96%);
	height: 38.333px;
	margin: 20px auto;
	box-shadow: $form-shadow;
	cursor: pointer;
	overflow: hidden;

	.chevron-flipped {
		width: 25px;
		transform: rotate(180deg);
	}
}

.text-input {
	display: flex;
	flex-direction: column;
	font-family: $main-font;
	margin-top: 0.75rem;
	padding: 0 $form-padding;

	textarea {
		@include borderSides();
		font-size: 1rem;
		padding: $padding;
		margin-top: 0.15rem;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

		&:focus {
			@include onFocus();
		}
	}

	label {
		text-align: center;
	}

	input {
		@include borderSides();
		font-family: $main-font;
		font-size: 1rem;
		width: 50%;
		padding: $padding;
		text-align: center;
		width: 100%;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	}
}

.select {
	display: flex;
	flex-direction: column;
	margin-top: 0.75rem;
	padding: 0 $form-padding;

	label {
		text-align: center;
	}

	&:focus {
		@include onFocus();
	}
}
