//Internal
@use "../../scss/index" as *;
@forward "range-grid";

.form {
  @include borderRadius();
  font-family: $main-font;
  width: 85%;
  margin: 1rem auto;
  padding-bottom: 1px;
  box-shadow: $form-shadow;

  .form-heading {
    @include borderRadius();
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: $advizot-color;
    box-shadow: $header-shadow;
    margin-bottom: 1rem;
    padding: calc($form-padding/4) calc($form-padding/2);
  }

  .range-container {
    padding: 0 $form-padding 1rem;
    position: relative;

    label {
      margin-top: 0.25rem;
    }

    .rangeValue {
      font-size: 1.25rem;
    }

    .range-error {
      grid-row-start: 4;
      z-index: $top;
      position: absolute;
      left: 9%;
      clip-path: polygon(
        0 13%,
        9% 13%,
        12% 0,
        15% 13%,
        100% 13%,
        100% 93%,
        0 93%
      );
    }

    &:focus {
      @include onFocus();
    }
  }

  .btn {
    margin: 2rem auto;
    width: calc(100% - ($form-padding * 2));
  }
}

.text-input {
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  margin-top: 1rem;
  padding: 0 $form-padding;

  textarea {
    @include borderSides();
    font-size: 1rem;
    padding: $padding;
    margin-top: 0.15rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    &:focus {
      @include onFocus();
    }
  }

  label {
    text-align: center;
  }

  input {
    @include borderSides();
    font-family: $main-font;
    font-size: 1rem;
    width: 50%;
    padding: $padding;
    text-align: center;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

.select {
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
  padding: 0 $form-padding;

  label {
    text-align: center;
  }

  &:focus {
    @include onFocus();
  }
}

@media screen and (min-width: 500px) {
  .form {
    width: 410px;
    margin: 1rem auto 1px;
  }
}
