@use "../index" as *;

.header {
  z-index: $middle;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: whitesmoke;
  box-shadow: $header-shadow;
  height: fit-content;

  .nav-bar {
    display: flex;
    justify-content: space-between;
    height: $header-height;
    overflow: hidden;
    @include transition(height);

    .logo {
      width: 190px;
      height: calc(190px * 0.3262919);
    }

    .nav-ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .nav-item {
        @include advizotFont(1.1rem, 600, 0);
        margin-right: 1rem;
        cursor: pointer;
        @include transition(text-shadow color);

        &:hover {
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .btn {
          padding: 1ch 4vw;
        }
      }
    }
  }
}