@use "../index" as *;

.header {
  z-index: $header-z;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  background-color: $light-bg;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);

  .nav-bar {
    display: flex;
    justify-content: space-between;
    height: $header-height;

    .logo {
      width: 190px;
      height: calc(190px * 0.3262919);
    }

    .switch-container {
      display: flex;
      place-items: center;
      margin-right: 1rem;
    }

    .profile-link {
      display: flex;
      place-items: center;
      margin-right: 1rem;

      img {
        max-width: 55px;

        border: 3px solid $advizot-color;
        border-radius: 100vw;
      }

      &:focus,
      &:focus-visible {
        @include onFocus();
      }
    }
  }
}
