@use "../index" as *;

.header {
  z-index: $header-z;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background-color: $light-bg;
  box-shadow: 0 0.2vh 0.75vh 1px rgba(0, 0, 0, 0.75);

  .nav-bar {
    display: flex;
    justify-content: space-between;

    height: $header-height;

    .logo {
      width: 190px;
      height: calc(190px * 0.3262919);
    }

    .nav-ul {
      display: flex;
      align-items: center;

      list-style: none;

      .nav-item {
        margin-right: 1rem;
        cursor: pointer;

        .profile-link {
          .profile-img {
            vertical-align: middle;
            max-width: 55px;
            border-radius: 100vw;
            border: 3px solid $advizot-color;
          }

          &:focus,
          &:focus-visible {
            @include onFocus();
          }
        }

        .btn {
          padding: 1ch 1.75ch;
        }
      }
    }
  }
}
