@use "../index" as *;

.toast-list {
  @include borderRadius();
  z-index: $header-z;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: calc($header-height + 2rem);
  padding: 1rem;

  background-color: transparent;
}

.toast {
  @include borderRadius();

  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin-bottom: 0.75rem;
  padding-block: 0.25rem;
  padding-left: 1rem;
  padding-right: 0;

  background-color: $advizot-light;
  box-shadow: 0 0 5px black;

  .toast-message {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      height: 20px;
    }
  }
}

@keyframes in-from-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes in-from-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
