//Internal
@use "../../abstracts/index" as *;
@forward "range-grid";

.form {
	font-family: $main-font;
	border-radius: $border-radius;
	width: min(380px, 94%);
	margin: 20px auto;
	padding-bottom: 1px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);

	.chevron {
		width: 25px;
	}

	.range-container {
		padding: 0 $form-padding 1rem;

		label {
			margin-top: 0.25rem;
		}

		.rangeValue {
			font-size: 1.3rem;
		}

		.range-error {
			grid-row-start: 4;
		}

		&:focus {
			@include onFocus();
		}
	}

	.textarea {
		display: flex;
		flex-direction: column;
		margin-top: 0.75rem;
		padding: 0 $form-padding;

		textarea {
			@include borderSides();
			padding: $padding;
			margin-top: 0.15rem;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

			&:focus {
				@include onFocus();
			}
		}
	}

	.priority {
		display: flex;
		flex-direction: column;
		margin-top: 0.75rem;
		padding: 0 $form-padding;

		&:focus {
			@include onFocus();
		}

		.rating-select {
			@include borderSides();
			margin-top: 0.15rem;
			padding: $padding;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

			option {
				text-align: center;
				font-family: $main-font;
			}

			&:focus {
				@include onFocus();
			}
		}
	}

	.btn {
		margin: 1.25rem auto;
	}
}

.minimized-form {
	border-radius: 24.5px;
	width: min(380px, 96%);
	margin: 20px auto;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 1);

	.chevron-flipped {
		width: 25px;
		transform: rotate(180deg);
	}
}

.minimize-btn {
	background-color: transparent;
	border: none;
	display: block;
	margin-left: auto;
	padding: 5px 20px;
	cursor: pointer;
}
