@use "../../index" as *;

.delete-btn {
  // display set to block on hover over response card. see _responses.scss and _admin-responses.scss
  display: none;

  @include borderRadius();

  background-color: $advizot-light;
  aspect-ratio: 1;
  width: 3rem;
  cursor: pointer;

  &:hover {
    @include btnHover();
  }

  .delete-icon {
    width: 1.25rem;
  }
}
