@use "../../index" as *;

.admin-info-cell,
.response-p {
  position: relative;

  .edit-pen {
    $size: 20px;

    position: absolute;
    top: calc(50% - ($size / 2));
    right: 5%;

    max-width: $size;
  }
}
