@use "../../index" as *;

@media screen and (min-width: 900px) {
  .response-li {
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr;

    width: 100%;

    .delete-btn {
      grid-row: 1;
      grid-column: 1;
      justify-self: center;
      align-self: center;
    }

    .response-name {
      grid-row: 1;
      grid-column: 2;
      width: fit-content;
    }

    .priority {
      grid-row: 1;
      grid-column: 3;
      justify-self: center;
      align-self: center;
    }

    .range-response {
      grid-row: 1;
      align-self: center;
    }

    .business-rating {
      grid-column: 4;
    }

    .personal-rating {
      grid-column: 5;
    }

    .relationships-rating {
      grid-column: 6;
    }

    .issue {
      grid-row: 1;
      grid-column: 7 / 8;
    }
    .goal {
      grid-row: 1;
      grid-column: 8 / end;
    }
    .issue,
    .goal {
      margin-left: 1ch;
      margin-right: 1ch;
    }
  }
}
