@use "../../index" as *;

//parent .modal styles in ../modals/_modals.scss
.loading-spinner {
  $size: 75px;

  position: relative;
  display: flex;
  place-items: center;
  margin: auto;
  width: $size;
  height: $size;

  border-radius: 50% 0 50% 0;
  background-color: transparent;
  border: 15px solid $advizot-color;
  animation: loading 2.5s ease-in-out infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
    border-radius: 50% 0 50% 0;
  }
  25% {
    border-width: 5px;
    border-radius: 0 50% 0 50%;
  }
  50% {
    transform: rotate(90deg);
    border-width: 15px;
    border-radius: 50% 0 50% 0;
  }
  75% {
    border-width: 5px;
    border-radius: 0 50% 0 50%;
  }
  100% {
    transform: rotate(180deg);
    border-radius: 50% 0 50% 0;
  }
}
