@use "../../index" as *;

//parent .modal styles in ../modals/_modals.scss
.loading-spinner {
  display: flex;
  place-items: center;
  margin: auto;
  width: 75px;
  height: 75px;

  border-radius: 50%;
  background-color: transparent;
  border: 10px solid $advizot-color;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
