@use "../../index" as *;

//parent .modal styles in ../modals/_modals.scss
.loading-spinner {
  $size: 70px;

  margin: auto;
  width: $size;
  height: $size;

  border-radius: 50% 0 50% 0;
  background-color: transparent;
  border: 7px solid $advizot-color;
  filter: drop-shadow(0 0 35px hsl(100, 0, 20%));

  animation: loading 2.5s ease-in-out infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
    border-radius: 50% 0 50% 0;
  }
  25% {
    border-width: 35px;
    border-radius: 0 50% 0 50%;
  }
  50% {
    transform: rotate(90deg);
    border-width: 7px;
    border-radius: 50% 0 50% 0;
  }
  75% {
    border-width: 35px;
    border-radius: 0 50% 0 50%;
  }
  100% {
    transform: rotate(180deg);
    border-radius: 50% 0 50% 0;
  }
}
