@use "../../index" as *;

.modal {
  z-index: $modal-z;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.45);

  .modal-content {
    position: absolute;
    top: 3vh;
    width: min(340px, 92%);

    border-radius: 14px 0px 13px 0px;
    background-color: $light-bg;

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      background-color: $advizot-color;
      box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.5);
      border-radius: $border-radius 0px 0px 0px;

      .modal-heading {
        @include advizotFont(1.25rem, 400, 0px);

        margin-left: calc($form-padding / 2);
      }
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: $form-padding;

      border-radius: 0px 0px 12px 0px;
    }
  }

  .btn {
    margin: 1rem auto 0rem;
    width: 100%;
  }
}

.login-btn {
  @include borderRadius(12px);
  @include transition(all);

  display: flex;
  align-items: center;

  cursor: pointer;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  background-color: $advizot-color;
  color: black;
  padding: 1rem 1.25rem;

  .logo {
    width: 30px;
    margin: 0px 7px;
  }
  p {
    margin: 0px auto;
    cursor: pointer;
  }
}

.linkedin-hover:hover {
  @include loginHover(#0077b5);
}
.google-hover:hover {
  @include loginHover(#34a853);
}
