//Basic Colors
$advizot-color: hsl(30, 91%, 57%);
$advizot-light: hsl(30, 91%, 77%);
$light-bg: hsl(0, 0%, 90%);
$text-primary: black;

//Shadows
$header-shadow: 0 0.2vh 0.5vh rgba(0, 0, 0, 0.75);
$form-shadow: 0 2px 5px rgba(0, 0, 0, 1);
