@use "./colors" as colors;
@use "./box-mods" as sizes;
@use "./fonts" as fonts;

@mixin advizotFont($size, $weight, $spacing) {
  font-family: fonts.$advizot-font;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
}

@mixin transition($properties) {
  transition-property: $properties;
  transition-timing-function: linear;
  transition-duration: 200ms;
}

@mixin borderRadius() {
  border-radius: sizes.$border-radius 0 sizes.$border-radius 0;
}

@mixin borderSides() {
  @include borderRadius();

  border-top: 1px solid black;
  border-right: 3px solid black;
  border-bottom: 1px solid black;
  border-left: 3px solid black;
}

@mixin onFocus() {
  box-shadow: 0 0 15px colors.$advizot-color,
    inset 0 0 9px colors.$advizot-color;
  outline: 2px solid colors.$text-primary;
}

@mixin btnHover() {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition-duration: 130ms;
}

@mixin specialBoxShadow() {
  // "3D" shadows
  box-shadow: inset -1px -1px 6px rgba(0, 0, 0, 0.7),
    inset 1px 1px 7px rgba(255, 255, 255, 0.9);
}

//Login Buttons
@mixin loginHover($color) {
  @include transition(border-radius outline background-color);

  background-color: colors.$light-bg;
  outline: 2px solid $color;
  border-radius: 30px;
  color: $color;
}
