@use "./colors" as colors;
@use "./box-mods" as sizes;
@use "./fonts" as fonts;

@mixin advizotFont($size, $weight, $spacing) {
  font-family: fonts.$advizot-font;
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
}

@mixin transition($properties) {
  transition-property: $properties;
  transition-timing-function: linear;
  transition-duration: 200ms;
}

@mixin borderRadius($radius) {
  border-radius: $radius 0 $radius 0;
}

@mixin borderSides() {
  @include borderRadius(12px);

  border-top: 1px solid black;
  border-right: 3px solid black;
  border-bottom: 1px solid black;
  border-left: 3px solid black;
}

@mixin onFocus() {
  box-shadow: 0px 0px 15px colors.$advizot-color,
    inset 0px 0px 9px colors.$advizot-color;
  outline: 2px solid colors.$text-primary;
}

@mixin btnHover() {
  box-shadow: colors.$btn-shadow;
  transform: translateY(-3px) scale(1.03);
  transition-duration: 100ms;
}

@mixin specialBoxShadow() {
  // "3D" shadows
  box-shadow: inset -1px -1px 6px rgba(0, 0, 0, 0.7),
    inset 1px 1px 7px rgba(255, 255, 255, 0.9);
}

//Login Buttons
@mixin loginHover($color) {
  @include transition(border-radius outline background-color);

  background-color: colors.$light-bg;
  outline: 2px solid $color;
  border-radius: 30px;
  border: 0px;
  color: $color;
}
