@font-face {
  font-family: "Audiowide";
  src: url("../../fonts/audiowide-regular-webfont.woff2") format("woff2");
}
$advizot-font: "Audiowide", cursive;

@font-face {
  font-family: "sansationregular";
  src: url("../../fonts/Sansation-Regular-webfont.woff") format("woff");
}
$main-font: "sansationregular";

//Colors:
$advizot-color: hsl(30, 91%, 57%);
$advizot-light: hsl(30, 91%, 77%);
$light-bg: hsl(0, 0%, 92%);
$header-shadow: 0 0.2vh 0.5vh rgba(0, 0, 0, 0.75);
$form-shadow: 0 2px 5px rgba(0, 0, 0, 1);
//Padding/Box Modification
$padding: 0.5rem;
$form-padding: 1.5rem;
$border-radius: 13px;
$header-height: 83px;
$footer-height: 85px;
//z-index
$top: 100;
$middle: 10;
$bottom: -1;
