@use "../../index" as *;

$size: 20px;

.tbody-th,
.sign-in {
  position: relative;

  &:hover {
    .edit-pen {
      display: block;
    }
  }

  .edit-pen {
    position: absolute;
    top: calc(50% - ($size / 2));
    right: 4%;
    display: none;
    max-width: $size;
  }
}
