@use "../../index" as *;

.sign-in-li {
  display: grid;
  grid-template-rows: 4rem 3.5rem fit-content fit-content;
  grid-template-columns: repeat(3, 1fr);
  width: 360px;

  .sign-in-name {
    grid-row: 1;
    justify-self: center;
    align-self: center;
  }

  .priority {
    grid-row: 1;
    grid-column: 2;
  }

  .delete-btn {
    grid-row: 1;
    grid-column: 3;
    justify-self: center;
    align-self: center;
  }

  .range-sign-in {
    grid-row: 2;
  }

  .issue {
    grid-row: 3;
  }

  .goal {
    grid-row: 4;
  }

  .issue,
  .goal {
    grid-column: 1 / span 3;
  }
}
