//Basic Colors
$advizot-color: hsl(30, 91%, 57%);
$advizot-light: hsl(30, 91%, 77%);
$advizot-grey: hsl(0, 0%, 72%);
$light-bg: hsl(0, 0%, 90%);
$text-primary: black;

//Shadows
$box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.75);
$btn-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
$form-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
