@use "../../index" as *;

.loading-spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  width: 5%;
  border-radius: 50%;
  background-color: transparent;
  border: 10px solid $advizot-color;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin: auto;
  animation: bigSpin 1s ease-in-out infinite;
  
  // .loading-circle {
  //   width: 10px;
  //   border-radius: 50%;
  //   border: 10px solid $advizot-color;
  //   border-top: 10px solid transparent;
  //   border-left: 10px solid transparent;
  //   border-right: 10px solid transparent;
  //   animation: smallSpin 1s ease-in-out infinite;
  // }
}

@keyframes bigSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

// @keyframes smallSpin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
