@use "../index" as *;

.meeting-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-bottom: 1rem;

  .edit-group-btn {
    @include borderSides();
    @include transition(box-shadow transform);

    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $advizot-color;
    box-shadow: $box-shadow;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: inherit;

    .icon {
      width: 35px;
    }

    &:hover {
      @include btnHover();
    }
  }

  select {
    @include advizotFont(inherit, 400, 1px);
    @include borderRadius(18px);
    @include transition(box-shadow transform);

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    padding: 0.5rem 0;
    padding-left: 2.5rem;
    padding-right: 1rem;

    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='40' viewBox='0 0 24 24' width='40' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 0%;
    background-position-y: 50%;

    color: inherit;
    border: none;
    text-align: left;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 13px 1px inset black;
    }

    option {
      color: inherit;
    }
  }

  h1 {
    font-size: inherit;
    font-weight: inherit;
  }
}

.room-code-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;

  .code-toggle {
    padding: 0.75rem;

    border-radius: 100vw;
    background-color: $advizot-color;
    cursor: pointer;

    &:hover {
      @include btnHover();
    }

    .icon {
      $size: 29px;

      width: $size;
      height: $size;
      vertical-align: middle;
    }
  }

  .room-code-display {
    @include borderRadius(12px);
    @include borderSides();

    width: fit-content;
    padding: 1rem;
    letter-spacing: 2px;

    font-size: 1.5rem;
    background-color: $advizot-color;
    box-shadow: $box-shadow;
    cursor: pointer;

    &:hover {
      @include btnHover();
    }
  }
}

.add-sign-in-btn {
  @include borderRadius(20px);
  @include transition(box-shadow transform);

  min-width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;

  padding: 1.25rem;
  font-family: inherit;
  font-size: 2rem;
  font-weight: bold;
  background-color: $advizot-color;
  cursor: pointer;

  &:hover {
    @include btnHover();
  }

  .icon {
    width: 60px;
  }
}

@media screen and (min-width: 455px) {
  .room-code-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
