@use "../abstracts/variables" as var;

@mixin flex($direction) {
	display: flex;
	flex-direction: $direction;
}

@mixin border-radius() {
	border-radius: var.$border-radius 0 var.$border-radius 0;
}

@mixin border() {
	@include border-radius();
	border-top: 1px solid black;
	border-right: 3px solid black;
	border-left: 3px solid black;
	border-bottom: 1px solid black;
}

@mixin onFocus() {
	box-shadow: 0 0 12px var.$advizot-color, inset 0 0 9px var.$advizot-color;
}

@mixin onHover($background-color, $shadow-color) {
	color: white;
	background-color: $background-color;
	box-shadow: inset 1px 1px 15px $shadow-color;
	transition-property: all;
	transition-duration: 150ms;
	border: none;
}
