@use "../abstracts/variables" as var;

@mixin flex($direction) {
	display: flex;
	flex-direction: $direction;
}

@mixin borderRadius() {
	border-radius: var.$border-radius 0 var.$border-radius 0;
}

@mixin inputBorder() {
	@include borderRadius();
	border-top: 1px solid black;
	border-right: 3px solid black;
	border-left: 3px solid black;
	border-bottom: 1px solid black;
}

@mixin onFocus() {
	box-shadow: 0 0 12px var.$advizot-color, inset 0 0 9px var.$advizot-color;
}

@mixin btnHover() {
	transform: scale(1.1);
	color: white;
	background-color: black;
	box-shadow: inset 1px 1px 15px white;
	transition-property: all;
	transition-duration: 200ms;
}

//Login Buttons
@mixin loginButton() {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: var.$main-font;
	font-size: 1.1rem;
	font-weight: 600;
	color: black;
	border: none;
	margin: 1rem;
}
@mixin loginHover($color, $radius) {
	background-color: white;
	outline: 2px solid $color;
	border-radius: $radius;
	color: $color;
	transition-property: all;
	transition-duration: 200ms;
}
@mixin logoSize() {
	width: 30px;
	margin: 0 7px;
}
