@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
$advizot-font: "Audiowide", cursive;

@font-face {
	font-family: "sansationregular";
	src: url("../../fonts/Sansation-Regular-webfont.woff") format("woff");
}
$main-font: "sansationregular";

//Colors:
$advizot-color: hsl(30, 91%, 57%);
$advizot-light: hsl(30, 91%, 77%);
//Padding/Box Modification
$padding: 0.5rem;
$form-padding: 30px;
$border-radius: 13px;
$header-height: 87px;
$footer-height: 85px;
//z-index
$top: 100;
$middle: 10;
