@use "../../scss/index" as *;

@media screen and (min-width: 900px) {
  .response-li {
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 0.4fr 0.4fr 0.4fr 0.4fr 1fr 1fr;

    // margin-left: auto;
    width: 100%;

    .delete-icon {
      grid-row: 1;
      grid-column: 1;
      justify-self: center;
      align-self: center;
    }

    .response-name {
      grid-row: 1;
      width: fit-content;
    }

    .range-response {
      grid-row: 1;
      align-self: center;
    }

    .priority {
      grid-row: 1;
      grid-column: 3;
      justify-self: center;
      align-self: center;
    }

    .issue {
      grid-row: 1;
      grid-column: 7 / 8;
    }
    .goal {
      grid-row: 1;
      grid-column: 8 / end;
    }
    .issue,
    .goal {
      margin-left: 1ch;
      margin-right: 1ch;
    }

    .save-btn {
      justify-self: center;
      align-self: center;
    }

    input[type="number"] {
      padding: 1px;
    }
  }
}
