@use "../scss/index" as *;

.header {
	z-index: $middle;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: whitesmoke;
	box-shadow: $header-shadow;

	&:hover {
		// 110
		z-index: calc($top + $middle);

		.nav-bar {
			height: fit-content;
		}
	}

	.nav-bar {
		display: flex;
		justify-content: space-between;
		height: $header-height;
		overflow: hidden;
		@include transition(height);

		.logo-wrapper {
			margin-top: 0.5rem;

			.logo {
				max-width: 160px;
			}
		}

		.actions-ul {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			list-style: none;
			width: min(40%, 160px);
			margin-bottom: 1rem;
			margin-right: 1rem;

			.nav-item {
				margin-top: 1rem;

				.btn {
					padding: 0.9ch 0;
					width: 100%;
				}
			}
		}
	}
}
