@use "../scss/index" as *;

.header {
	z-index: $middle;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	background-color: whitesmoke;
	box-shadow: $header-shadow;

	&:hover .nav-bar {
		z-index: calc($top + 1);
		height: fit-content;
	}

	.nav-bar {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		height: $footer-height;
		overflow: hidden;

		.logo-wrapper {
			margin-top: 0.5rem;

			.logo {
				max-width: 160px;
			}
		}

		.actions-ul {
			display: flex;
			flex-direction: column;
			align-content: center;
			list-style: none;

			.nav-item {
				margin-top: 1.2rem;
				width: fit-content;
			}
		}
	}
}
