//Internal
@use "../../scss/index" as *;

.util-list {
  z-index: $top;
  position: fixed;
  bottom: 0;
  left: 1.25rem;
  list-style: none;

  .util-item {
    .util-btn {
      //Resets
      border-radius: $border-radius;
      border-top: 3px solid $advizot-color;
      border-left: 1px solid $advizot-color;
      border-right: 1px solid $advizot-color;
      border-color: $advizot-color;
      //Position
      position: relative;
      bottom: -55px;
      //Display
      display: flex;
      justify-content: center;
      align-items: center;
      //Misc
      padding: 0 20px;
      width: 70px;
      height: 80px;
      text-align: center;
      background-color: whitesmoke;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.4);
      @include transition(bottom);

      .util-icon {
        position: absolute;
        max-width: 55%;
        bottom: 0;
        @include transition(bottom);
      }

      .util-text {
        position: absolute;
        bottom: 60px;
        left: -17px;
        opacity: 0;
        color: whitesmoke;
        @include transition(opacity bottom);
      }

      &:hover {
        bottom: -15px;
        .util-icon {
          bottom: 25px;
        }

        .util-text {
          bottom: 90px;
          opacity: 1;
          text-shadow: 0 0 10px black;
        }
      }
    }
  }
}
