@use "../../index" as *;

.modal {
  z-index: $top;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;

  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    @include borderRadius();
    z-index: $top;
    position: absolute;
    margin-top: 8rem;
    background-color: #fff;
    width: min(340px, 90%);

    .modal-header {
      @include borderRadius();
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: $advizot-color;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);

      .modal-heading {
        @include advizotFont(1.25rem, 400, 0);
        font-family: $advizot-font;
        font-size: 1.25rem;
        margin-left: calc($form-padding / 2);
      }

      .close-x {
        cursor: pointer;
        margin-left: auto;
        padding: 0 1rem;
        background-color: transparent;
        border-color: transparent;
        font-size: 2.25rem;

        &:focus {
          @include onFocus();
        }
      }
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      margin: 0 1rem 1rem;

      .btn {
        margin: 0.75rem auto;
        width: calc(100% - ($form-padding * 2));
      }
    }
  }
}

.signin-btn {
  margin-top: 1rem;

  button {
    @include borderRadius();
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    font-family: $main-font;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: $advizot-color;
    color: black;
    border: none;
    padding: 1rem 1.25rem;
    @include transition(all);

    .logo {
      width: 30px;
      margin: 0 7px;
    }
    span {
      margin: 0 auto;
    }
  }

  .linkedin-hover {
    &:hover {
      @include loginHover(#0077b5, 30px);
    }
  }
  .google-hover {
    &:hover {
      @include loginHover(#34a853, 30px);
    }
  }
}
