@use "./index" as *;

$dark-bg: hsl(0, 0%, 16%);
$darker-bg: hsl(0, 0%, 9%);
$text-dark: black;

.dark {
  background-color: $dark-bg;
  color: $advizot-grey;
  border: none;

  .btn {
    border: none;
  }

  .toast {
    color: $text-dark;
  }

  .modal-content {
    .modal-header {
      color: $text-dark;
    }

    .modal-body {
      background-color: $dark-bg;

      .google-hover:hover,
      .linkedin-hover:hover {
        background-color: $dark-bg;
      }

      .form {
        .range-container input[type="range"] {
          background-color: $darker-bg;
        }

        .text-input textarea,
        .select .rating-select,
        .rating-select {
          background-color: $darker-bg;
          color: $advizot-grey;
          border: none;
        }
      }
    }
  }

  .header,
  .admin-actions-list {
    background-color: $darker-bg;
    box-shadow: none;
    border: none;
  }

  .header {
    .nav {
      background-color: $darker-bg;
      border: none;
      box-shadow: none;

      .nav-item {
        color: $advizot-grey;

        .icon path {
          fill: $advizot-grey;
        }
      }
    }
  }

  .meeting-heading {
    .edit-group-btn {
      border: none;
    }

    select option {
      background-color: $dark-bg;
    }
  }

  .room-code-container .room-code-display {
    color: $text-dark;
    border: none;
    box-shadow: none;
  }

  .sign-in-list {
    box-shadow: none;

    .sign-in-item {
      background-color: $darker-bg;

      svg path {
        fill: $advizot-grey;
      }
    }
  }
}
