@use "./index" as *;

.header {
  z-index: $header-z;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  height: $header-height;

  background-color: $light-bg;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75);

  .logo {
    width: 190px;
    height: calc(190px * 0.3262919);
  }

  .header-menu {
    display: flex;
    align-items: center;

    .switch-container {
      display: flex;
      place-items: center;
      margin-right: 1rem;
    }

    .profile-photo-ctnr {
      @include borderRadius(15px);

      margin: 0 1rem 0 0;
      position: relative;
      width: 10vw;
      height: 10vw;
      display: flex;
      justify-content: center;
      align-items: center;

      border: 2px solid $advizot-color;

      .profile-photo {
        @include borderRadius(10px);

        max-width: 3.25rem;
        max-height: 3.25rem;
        display: flex;
        place-items: center;
        align-self: center;

        cursor: pointer;

        &:focus,
        &:focus-visible {
          @include onFocus();
        }
      }

      .pen-ctnr {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        // prettier-ignore
        background-color: hsla(30, 91%, 57%, 0.5); /* $advizot-color at 50% opacity */
        border-radius: 10px 0 10px 0;

        .icon {
          width: 22px;
        }
      }
    }
  }

  .nav {
    @include borderRadius(12px);
    @include borderSides();

    z-index: $nav-z;
    position: fixed;
    right: 1rem;
    top: calc($header-height + 0.5rem);
    padding: 0.75rem;

    background-color: $light-bg;
    box-shadow: $box-shadow;

    .nav-list {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      list-style: none;

      .nav-item {
        display: flex;
        font-size: 1.5rem;
        padding: 0.5rem;

        cursor: pointer;

        &:hover {
          .icon path {
            fill: $advizot-color;
          }
          a {
            color: $advizot-color;
          }
        }

        .icon {
          width: 22px;
          vertical-align: middle;
          margin-right: 0.75rem;
        }

        a {
          font-size: 1.25rem;
          padding: 0.25rem 0.75rem;
        }

        &:nth-child(4) {
          justify-content: center;
        }
      }
    }
  }
}
